.main_swiper_carousel {
  padding: 0 0.5rem;
  position: relative;
  .arrow_circle_icons {
    position: absolute;
    top: 42%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    .button_arrow {
      border: 2px solid #a5c926;
      border-radius: 30px;
      background-color: #fff;
      padding: 6px;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(1) {
          margin-left: 1rem;
      }
      &:nth-child(2) {
          margin-right: 1rem;
      }
    }
  }
  .swiper-container {
    padding-bottom: 3rem;
    .swiper-pagination-bullet {
      background: rgba(0, 24, 84, 0.36);
      opacity: 0.6;
    }
    .swiper-pagination-bullet-active {
      background: #a5c926;
      width: 10px;
      height: 10px;
      opacity: 1.5;
    }
  }
  .swiper_slide_card {
    cursor: pointer;
    .swiper_slide_img {
      max-width: 100%;
    }
  }
}
