.main_swiper_carousel {
  padding: 0 0.5rem;
  position: relative;
  .arrow_circle_icons {
    position: absolute;
    top: 42%;
    width: 99%;
    display: flex;
    justify-content: flex-end;
    .button_arrow {
      border: 2px solid #a5c926;
      border-radius: 30px;
      background-color: #fff;
      padding: 6px;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.7rem;
      // &:nth-child(1) {
      //     margin-left: 0.7rem;
      // }
      // &:nth-child(2) {
      //     margin-right: 0.7rem;
      // }
    }
  }
  .swiper-container {
    padding: 1rem 0.5rem 3rem 0.6rem;
  }
  .swiper_slide_card {
    cursor: pointer;
    padding-top: 1rem;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    }
    .product_carousel_card_img {
      text-align: center;
      .swiper_slide_card_img {
        width: 160px;
      }
    }
    .product_carousel_card_info {
      padding: 0.3rem 0.8rem 1.8rem 0.8rem;
    }
  }
}
