@import "../../styles/base";

.brands_box {
  margin-top: 1rem;
  .brands__container {
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    }
    .brands__logo {
      width: 100px;
    }
    .brands__name_title {
      @include fontMedium();
      font-size: 15px;
      color: $textColor;
    }
  }
}
