@import "../../styles/base";

.brands_box {
  margin-top: 1rem;
  .brands__container {
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
    .brands__logo {
      width: 100px;
    }
    .brands__name_title {
      @include fontMedium();
      font-size: 15px;
      color: $textColor;
    }
  }
}
