$globalColor: #a5c926;
$textColor: rgb(119, 119, 119);

@mixin flexBox {
  display: flex;
  align-items: center;
}
@mixin flexContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin fontBold {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
}

@mixin fontSemiBold {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin fontMedium {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin btn($color, $borderColor, $bgColor) {
  border: none;
  outline: none;
  border-radius: 35px;
  font-size: 16px;
  cursor: pointer;
  color: $color;
  border: 1px solid $borderColor;
  background-color: $bgColor;
}
