@import "../../styles/base";

.all_products_card {
  padding: 3rem 0;
  .all_products_card__category_title {
    @include fontBold();
    font-size: 2.5rem;
  }
  .all_products_card__filter_box {
    display: flex;
    align-items: baseline;
    padding-bottom: 1rem;
    .all_products_card__filter_title {
      @include fontSemiBold();
    }
    .all_products_card__filter_links {
      @include fontMedium();
      color: $textColor;
      margin-left: 1rem;
      font-size: 1rem;
      &:hover {
        color: $globalColor;
      }
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: none;
      margin-left: 1rem;
    }
    .ant-select,
    .ant-select-arrow {
      color: $textColor;
      @include fontMedium();
    }
    .ant-select-single.ant-select-open .ant-select-selection-item {
      color: $textColor;
    }
  }
  .all_products_card__card_row {
    .all_products_card__card_column {
      cursor: pointer;
      padding-top: 2rem;
      margin-bottom: 1rem;
      transition: all 0.3s;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:hover {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
      }
      .all_products_card__product_card_heart {
        position: absolute;
        top: 3%;
        right: 5%;
      }
      .product_carousel_card_img {
        text-align: center;
        .all_products_card__card_img {
          width: 150px;
        }
      }
      .product_carousel_card_info {
        padding: 0rem 1rem 2rem 0.9rem;
        .all_products_card__product_sale_text {
          @include fontMedium();
          background-color: $globalColor;
          color: #fff;
          padding: 3px 5px;
          font-size: 1rem;
          border-radius: 15px;
        }
        .all_products_card__product_category {
          @include fontMedium();
          font-size: 1rem;
          padding: 0.5rem 0 0 0;
          color: $textColor;
          &:hover {
            color: $globalColor;
          }
        }
        .all_products_card__product_price {
          @include flexContent();
          .all_products_card__product_price_text {
            @include fontSemiBold();
            font-size: 1rem;
            margin: -0.4rem 0 0 0;
            color: $globalColor;
            text-decoration: line-through;
          }
          .all_products_card__product_sale_price_text {
            @include fontSemiBold();
            font-size: 1.1rem;
            margin: -0.4rem 0 0 0;
            color: $textColor;
          }
          .all_products_card__product_price_sale {
            @include fontSemiBold();
            font-size: 1.1rem;
            color: $textColor;
          }
        }
        .all_products_card__product_title {
          @include fontMedium();
          font-size: 1rem;
          padding: 1rem 0 0 0;
          color: $textColor;
        }
        .all_products_card__product_btn {
          @include btn($textColor, $textColor, #fff);
          @include fontMedium();
          padding: 0.3rem 2.3rem;
        }
      }
    }
  }
}

// =========== MEDIA QUERY START ==================

@media (max-width: 560px) {
  .all_products_card {
    .all_products_card__category_title {
      font-size: 2.1rem;
    }
    .all_products_card__filter_box {
      flex-direction: column;
      .all_products_card__filter_links {
        margin-left: 0;
        padding-bottom: 0.5rem;
      }
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        margin-left: 0rem;
      }
    }
  }
}
