@import "../../styles/base";

.all_products_card {
  padding: 3rem 0;
  .all_products_card__category_title {
    @include fontBold();
    font-size: 2.5rem;
  }
  .all_products_card__filter_box {
    display: flex;
    align-items: baseline;
    padding-bottom: 1rem;
    .all_products_card__filter_title {
      @include fontSemiBold();
      margin-right: 1rem;
    }
    .all_products_card__filter_links {
      @include fontMedium();
      color: #fff;
      margin-left: 0.5rem;
      border: 1px solid $globalColor;
      background-color: $globalColor;
      padding: 0.3rem;
      font-size: 1.1rem;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: none;
      margin-left: 1rem;
    }
    .ant-select,
    .ant-select-arrow {
      color: $textColor;
      @include fontMedium();
    }
    .ant-select-single.ant-select-open .ant-select-selection-item {
      color: $textColor;
    }
  }
  .all_products_card__pagination {
    text-align: center;
    margin-top: 1rem;
    .ant-pagination-item {
      @include fontMedium();
      &:hover {
        border-color: $globalColor;
      }
      a {
        &:hover {
          color: $globalColor;
        }
      }
    }
    .ant-pagination-item-active {
      background: #fff;
      border-color: $globalColor;
      a {
        color: $globalColor;
      }
    }

    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      &:hover {
        border-color: $globalColor;
      }
      &:hover .anticon {
        color: $globalColor;
      }
    }
  }
}

// =========== MEDIA QUERY START ==================

@media (max-width: 560px) {
  .all_products_card {
    .all_products_card__category_title {
      font-size: 2.1rem;
    }
    .all_products_card__filter_box {
      flex-direction: column;
      .all_products_card__filter_links {
        margin-left: 0;
        padding-bottom: 0.5rem;
      }
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        margin-left: 0rem;
      }
    }
  }
}
