@import "../../styles/base";

.search_bar__active {
  opacity: 1;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 999;
  border-radius: 10px;
  height: 380px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
  .search_bar__dates {
    padding: 1rem 0;
    @include flexBox();
    margin-bottom: 1.5rem;
    transition: all 0.2s;
    &:hover {
      background-color: lightgray;
    }
    .search_bar__product_img {
      margin-left: 2rem;
      img {
        width: 60px;
      }
    }
    .search_bar__product_info {
      margin: 0.7rem 0 0 3rem;
      .search_bar__product_title {
        @include fontMedium();
        font-size: 1rem;
        color: $textColor;
      }
      .search_bar__product_cost {
        @include fontSemiBold();
        margin-top: -1rem;
        font-size: 1.1rem;
      }
    }
  }
  .search_bar__no_data {
    @include flexBox();
    flex-direction: column;
    justify-content: center;
    img {
      max-width: 95%;
    }
    h2 {
      @include fontSemiBold();
      color: $textColor;
      margin-top: -2rem;
    }
  }
}

.search_bar {
  opacity: 0;
}

@media (max-width: 600px) {
  .search_bar__active {
    padding: 0.3rem 0.2rem;
    // height: 420px;
    height: 100vh;
    width: 132%;
    .search_bar__dates {
      padding: 0.6rem 0.3rem 0.6rem 0;
      margin-bottom: 1rem;
      .search_bar__product_img {
        margin-left: 1rem;
        img {
          width: 65px;
        }
      }
      .search_bar__product_info {
        margin: 0.7rem 0 0 1.8rem;
        .search_bar__product_title {
          font-size: 0.9rem;
        }
        .search_bar__product_cost {
          font-size: 1rem;
        }
      }
    }
    .search_bar__no_data {
      margin-top: 4rem;
      h2 {
        margin-top: -1rem;
      }
    }
  }
}
