@import "../../styles/base";

.header {
  background-color: #fff;
  padding: 0.7rem 0;
  border-bottom: 1px solid rgb(237, 237, 237);
  .header__container {
    align-items: center;
  }
  .header__logo_box {
    @include flexBox();
    cursor: pointer;
    .header__logo_img {
      width: 70px;
      object-fit: cover;
    }
    .header__logo_title {
      @include fontBold();
      color: $globalColor;
      font-size: 2.3rem;
      padding: 0.7rem 0 0 0.7rem;
    }
  }

  .header__serach_bar {
    .header__input {
      padding: 1rem 1.2rem;
      border-radius: 40px;
      @include fontMedium();
      width: 100%;
      &:hover {
        border-color: $globalColor;
      }
      &:focus {
        border-color: $globalColor;
      }
      &::placeholder {
        color: $textColor;
        @include fontMedium();
      }
    }
  }

  .header__language_bar {
    display: flex;
    justify-content: flex-end;
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: none;
    }
    .ant-select,
    .ant-select-arrow {
      color: $textColor;
      @include fontMedium();
    }
    .ant-select-single.ant-select-open .ant-select-selection-item {
      color: $textColor;
    }
  }
}

@media (max-width: 560px) {
  .header {
    .header__logo_box {
      display: none;
    }
    .header__serach_bar {
      .header__input {
        padding: 0.6rem 1.2rem;
        border-radius: 20px;
      }
    }
  }
}
