@import "./styles/base";

.App {
  .scroll_to_top {
    border: 1px solid #222;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #222;
    color: #fff;
    transition: all 0.3s;
    transform: scale(1);
    &:hover {
    transform: scale(1.1);
    }
    @include flexBox();
    justify-content: center;
    .up_arrow {
      font-size: 1.3rem;
    }
  }
}
