// @import "../../styles/base";

// .phones {
//   margin-top: 3rem;
//   .phones__title_see_all {
//     @include flexContent();
//     .phones__section_title_text {
//       font-size: 2.5rem;
//       cursor: pointer;
//       @include fontBold();
//       color: $textColor;
//     }
//     .phones__see_all_box {
//       display: flex;
//       align-items: baseline;
//       cursor: pointer;
//       justify-content: flex-end;
//       .phones__see_all_text {
//         @include fontMedium();
//         font-size: 1rem;
//         text-transform: uppercase;
//         color: $globalColor;
//       }
//     }
//   }
// }

// @media (max-width: 560px) {
//   .phones {
//     .phones__title_see_all {
//       .phones__section_title_text {
//         font-size: 2.1rem;
//       }
//     }
//   }
// }





@import "../../styles/base";

.phones {
  margin-top: 3rem;
  .phones__title_see_all {
    @include flexContent();
    .phones__section_title_text {
      font-size: 2.5rem;
      cursor: pointer;
      @include fontBold();
      color: $textColor;
    }
    .phones__see_all_box {
      display: flex;
      align-items: baseline;
      cursor: pointer;
      justify-content: flex-end;
      .phones__see_all_text {
        @include fontMedium();
        font-size: 1rem;
        text-transform: uppercase;
        color: $globalColor;
      }
    }
  }
}

@media (max-width: 560px) {
  .phones {
    .phones__title_see_all {
      .phones__section_title_text {
        font-size: 2.1rem;
      }
    }
  }
}
